body{
    background: lightgray;
    margin: 0%;
    font-family: robo;
}
header{
    background: white;
    padding: 10px;
}
header h1{
    margin: 0px;
}
div{
    -webkit-box-sizing: border-box;
}
div .post{
    background: white;
    margin-top: 50px;
    margin-bottom: 50px;
}
div .post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}
div .post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    padding: 10px;
    color: rgb(175, 175, 175);
}
div .post img{
    width: 100%;
}
div .post h2, div .post p {
    padding: 10px;
    margin: 0%;
}
div .container{
    width: 600px;
    margin: auto;
}
h1, h2, p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}